body {
  background-color: #e0e0e0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Comic Sans MS", Georgia, "Times New Roman", "\534E\6587\884C\6977", "\534E\6587\7EC6\9ED1", "\534E\6587\65B0\9B4F", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif; /* 华文行楷: \534E\6587\884C\6977 华文细黑: \534E\6587\7EC6\9ED1 华文新魏: \534E\6587\65B0\9B4F 微软雅黑: \5FAE\8F6F\96C5\9ED1 宋体: \5B8B\4F53 */
  margin: 0;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .header {
    height: 3.75em; /* 60px */
    justify-content: space-between;
    margin: auto;
    padding: 0.625em; /* 10px */
    background-color: #fff;
    box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
    text-align: center;
    font-weight: bold;
  }
  .header .logo {
    height: 3.75em; /* 60px */
    float: left;
    margin-right: 0.9375em; /* 15px */
    padding-left: 0;
  }
  .header .logo ul {
    text-align: center;
  }
  .header .logo li {
    height: 3.125em; /* 50px */
    display: inline-block;
    padding: 0;
    border: 0;
  }
  .header .logo a {
    color: #333;
    margin: 0;
  }
  .header .logo .site-title {
    font-size: 2em; /* 32px */
    height: 1.5625em; /* 50px */
    margin: 0.15625em 0.15625em 0.15625em 0;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    text-align: center;
    float: left;
    border: 0;
  }
  .header .logo .author-avatar {
    height: 3.75em; /* 50px */
    width: 3.75em; /* 50px */
    float: right;
    border-radius: 50%;
    box-shadow: 0 0 1em #333; /* 16px */
  }
  .header .logo img {
    width: 100%; /* 50px */
    height: 100%; /* 50px */
    border-radius: 50%;
  }
  .header .logo .site-title:hover {
    color: #2988de;
  }
  .header .logo .author-avatar:hover {
    border: 0;
    box-shadow: none;
    animation: author-avatar 0.15s linear infinite alternate;
    -ms-animation: author-avatar 0.15s linear infinite alternate;
    -webkit-animation: author-avatar 0.15s linear infinite alternate;
    -moz-animation: author-avatar 0.15s linear infinite alternate;
  }
@-moz-keyframes author-avatar {
    0% {
      padding-left: 0.125em; /* 2px */
      padding-top: 0.125em; /* 2px */
    }
    100% {
      padding-right: 0.125em; /* 2px */
      padding-top: 0em;
    }
}
@-webkit-keyframes author-avatar {
    0% {
      padding-left: 0.125em; /* 2px */
      padding-top: 0.125em; /* 2px */
    }
    100% {
      padding-right: 0.125em; /* 2px */
      padding-top: 0em;
    }
}
@-o-keyframes author-avatar {
    0% {
      padding-left: 0.125em; /* 2px */
      padding-top: 0.125em; /* 2px */
    }
    100% {
      padding-right: 0.125em; /* 2px */
      padding-top: 0em;
    }
}
@keyframes author-avatar {
    0% {
      padding-left: 0.125em; /* 2px */
      padding-top: 0.125em; /* 2px */
    }
    100% {
      padding-right: 0.125em; /* 2px */
      padding-top: 0em;
    }
}
  .header .navbar {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%; /* 60px */
  }
  .header .navbar .mainnav {
    height: 100%; /* 60px */
  }
  .header .navbar .mainnav .menu {
    height: 100%; /* 60px */
    margin: 0;
    padding: 0;
    float: left;
  }
  .header .navbar .mainnav .menu .menu-item {
    height: 100%; /* 60px */
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-left: 0.625em; /* 10px */
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link {
    font-size: 1.5em; /* 24px */
    height: 1.625em; /* 39px */
    margin: 0.4792em 0; /* 11.5px */
    display: block;
    color: #aaa;
    border: 0;
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link:hover {
    color: #2988de;
  }
}
h6,
p,
blockquote,
ul,
li,
cite,
a,
table,
th,
td,
tr,
code,
time,
article,
body,
pre,
.highlight {
  font-size: 1rem; /* 16px */
}
h1 {
  font-size: 1.5rem; /* 24px */
  margin: 1em 0; /* 24px */
  text-align: center;
}
h2 {
  font-size: 1.375rem; /* 22px */
  padding: 0.4545em 0 0 0;
/* 10px */
  border-bottom: 0.0909em solid #000; /* 2px */
}
h3 {
  font-size: 1.25rem; /* 20px */
  margin: 1em 0 1em 0; /* 20px */
  padding-left: 0.25em; /* 5px */
  border-left: 0.25em solid #000; /* 5px */
}
h4 {
  font-size: 1.125rem; /* 18px */
  margin: 1.1111em 0; /* 20px */
  padding-left: 0.2777em; /* 5px */
  border-left: 0.1388em solid rgba(0,0,0,0.8); /* 2.5px */
}
h5 {
  font-size: 1.0625rem; /* 17px */
  padding-left: 0.0588em; /* 1px */
  margin: 1.1764em 0; /* 20px */
  font-weight: bold;
}
h6 {
  padding-left: 0.0625em; /* 1px */
  margin: 1.25em 0; /* 20px */
  font-weight: bold;
}
p {
  margin: 0.625em 0; /* 10px */
}
blockquote {
  margin: 0;
  padding: 0.625em; /* 10px */
  border-left: 0.3125em solid rgba(0,0,0,0.4); /* 5px */
  background-color: rgba(224,224,224,0.5);
}
ul {
  padding: 0 0 0 1.25em; /* 20px */
  margin: 0;
}
li {
  display: list-item;
  padding: 0.125em 0 0.125em 0; /* 2px */
  margin: 0;
}
cite::before {
  content: "——";
  padding: 0 0.5em; /* 8px */
  font-style: italic;
}
a {
  text-decoration: none;
  border-bottom: 0.0625em solid rgba(0,0,0,0.6); /* 1px */
  color: #2988de;
  cursor: pointer;
  transition: 0.2s linear 0.01s;
  -moz-transition: 0.2s linear 0.01s; /* Firefox 4 */
  -webkit-transition: 0.2s linear 0.01s; /* Safari and Chrome */
  -o-transition: 0.2s linear 0.01s; /* Opera */
}
a:hover {
  border-bottom: 0.1875em solid #2988de; /* 3px */
}
.pullquote.left {
  border: none;
  margin: 0 1em 0 1em; /* 16px */
  width: 45%;
  float: left;
}
.pullquote.right {
  border: none;
  margin: 0 1em 0 1em; /* 16px */
  width: 45%;
  float: right;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}
table th {
  text-align: center;
  background: #333;
  color: #eee;
  padding: 1.25em 0.5em; /* 5px 8px */
  border: 0.0625em solid #ddd; /* 1px */
}
table td {
  padding: 1.25em 0.5em; /* 5px 8px */
  border: 0.0625em solid #ddd; /* 1px */
}
table tr {
  text-align: center;
}
table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
.post-content pre,
.post-content code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.post-content pre,
.post-content .highlight {
  background: #2d2d2d;
  border: none;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: #ddd;
  border-width: 0.0625em 0; /* 1px */
  overflow: auto;
  color: #ccc;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: normal;
}
.post-content code {
  background: #fff;
  border: 0.0625em solid #333; /* 1px */
  border-radius: 0.1875em; /* 3px */
  padding: 0 0.0625em; /* 1px */
  margin: 0 0.0625em; /* 1px */
}
.post-content pre code {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.post-content .highlight {
  padding: 0.9375em 1.25em; /* 15px 20px 15px */
}
.post-content .highlight pre {
  border: 0;
  padding: 0;
  margin: 0;
}
.post-content .highlight table {
  margin: 0;
  width: auto;
}
.post-content .highlight td {
  border: 0;
  padding: 0;
}
.post-content .highlight tr {
  text-align: inherit;
}
.post-content .line,
.post-content figure,
.post-content figcaption,
.post-content highlight,
.post-content code,
.post-content pre {
  line-height: 1.5;
}
.post-content figure,
.post-content figcaption {
  color: #999;
  margin-bottom: 1em;
}
.post-content figure a,
.post-content figcaption a {
  float: right;
  color: #fff;
  border: 0;
}
.post-content figure a:hover,
.post-content figcaption a:hover {
  color: #2988de;
}
.post-content figure .gutter pre,
.post-content figcaption .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 1.25em; /* 20px */
}
.post-content figure .line.marked,
.post-content figcaption .line.marked {
  background: #515151;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media (max-width: 599px) and (min-width: 310px) {
  .header {
    height: 130px;
    font-size: 1.5em;
    justify-content: space-between;
    font-weight: bold;
  }
  .header .blog-title {
    justify-content: center;
    align-items: center;
  }
  .header .blog-title .logo {
    color: #aaa;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header .blog-title .header-avatar {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .header .blog-title .header-avatar img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    border-radius: 50%;
    border: 0;
  }
  .header .navbar .mainnav .menu {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header .navbar .mainnav .menu .menu-item {
    display: inline-block;
    margin-right: 15px;
    font-size: 0.75em;
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link {
    color: #aaa;
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link:hover {
    color: #2988de;
  }
}
@media (max-width: 309px) {
  .header {
    height: 130px;
    font-size: 1.5em;
    justify-content: space-between;
    font-weight: bold;
  }
  .header .blog-title {
    justify-content: center;
    align-items: center;
  }
  .header .blog-title .logo {
    color: #aaa;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header .blog-title .header-avatar {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .header .blog-title .header-avatar img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    border-radius: 50%;
    border: 0;
  }
  .header .navbar .mainnav .menu {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header .navbar .mainnav .menu .menu-item {
    display: inline-block;
    font-size: 0.75em;
    margin-right: 10px;
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link {
    color: #aaa;
  }
  .header .navbar .mainnav .menu .menu-item .menu-item-link:hover {
    color: #2988de;
  }
}
@media (min-width: 960px) {
  .post {
    font-size: 1rem; /* 16px */
    margin: 1.25em 0.625em; /* 20px 10px */
    padding: 1.875em 3.125em; /* 30px 50px */
    background-color: #fff;
    border: 0.0625em solid #ddd; /* 1px */
    box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
  }
  .post .post-title {
    text-align: center;
    margin: 0;
    border-bottom: 5px solid rgba(0,0,0,0.8);
  }
  .post .post-title .title {
    margin: 0;
    font-size: 1.875em; /* 30px */
  }
  .post .post-meta {
    margin: 0 0 1.875em 0; /* 30px */
  }
  .post .post-meta .post-time {
    text-align: center;
  }
  .post .post-content {
    margin: 0;
    font-size: 1rem; /* 16px */
  }
  .posts .post-card {
    font-size: 1rem; /* 16px */
    margin: 1.25em 0.625em; /* 20px 10px */
    padding: 1.875em 3.125em; /* 30px 50px */
    background-color: #fff;
    border: 0.0625em solid #ddd; /* 1px */
    box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
  }
  .posts .card-title {
    margin: 0.5em 0; /* 8px */
  }
  .posts .card-title a {
    font-size: 1.5em; /* 24px */
    color: #2988de;
    border: 0;
    font-weight: bold;
  }
  .posts .card-meta {
    color: #bababa;
    margin: 0.5em 0 0 0; /* 8px */
  }
  .posts .card-meta .card-tags-link,
  .posts .card-meta time,
  .posts .card-meta .read-more {
    font-size: 1.25em; /* 20px */
  }
  .posts .card-meta .card-tags-link {
    text-overflow: ellipsis;
    border: 0;
    color: #333;
    margin: 0 0.125em; /* 2.5px */
  }
  .posts .card-meta .card-tags-link:before {
    content: "#";
  }
  .posts .card-meta .read-more {
    float: right;
    border: 0;
  }
  .posts .card-meta .card-tags-link:hover,
  .posts .card-meta .read-more:hover {
    color: #2988de;
    border-bottom: 0.1875em solid #2988de; /* 3px */
  }
}
@media (min-width: 370px) and (max-width: 959px) {
  .post {
    margin: 20px 10px;
    padding: 30px 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .posts .post-card {
    font-size: 1rem; /* 16px */
    margin: 1.25em 0.625em; /* 20px 10px */
    padding: 1.875em 3.125em; /* 30px 50px */
    background-color: #fff;
    border: 0.0625em solid #ddd; /* 1px */
    box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
  }
  .posts .card-title {
    margin: 0.5em 0; /* 8px */
  }
  .posts .card-title a {
    font-size: 1.5em; /* 24px */
    color: #2988de;
    border: 0;
    font-weight: bold;
  }
  .posts .card-meta {
    color: #bababa;
    height: 1.875em;
    margin: 0.5em 0; /* 8px */
  }
  .posts .card-meta .card-tags-link,
  .posts .card-meta time,
  .posts .card-meta .read-more {
    font-size: 1.25em; /* 20px */
    float: left;
  }
  .posts .card-meta .card-tags-link {
    border: 0;
    color: #333;
    margin: 0 0.125em; /* 2.5px */
  }
  .posts .card-meta .card-tags-link:before {
    content: "#";
  }
  .posts .card-meta .read-more {
    float: right;
    border: 0;
  }
  .posts .card-meta .card-tags-link:hover,
  .posts .card-meta .read-more:hover {
    color: #2988de;
    border-bottom: 0.1875em solid #2988de; /* 3px */
  }
}
@media (max-width: 370px) {
  .post {
    margin: 20px 10px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .posts .post: first-child {
    margin-top: 0;
  }
  .posts .post-title {
    font-size: 1.5em;
  }
  .posts .post-title a {
    color: #2988de;
  }
  .posts .post-meta {
    color: #bababa;
    float: left;
  }
  .posts .post-meta .post-time {
    float: left;
    margin-right: 10px;
  }
  .posts .post-meta .post-tags-link {
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
  }
  .posts .post-meta .read-more {
    float: left;
  }
}
.archive {
  margin: 20px 10px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  font-weight: bold;
  box-shadow: 3px 2px 8px rgba(0,0,0,0.3);
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 10px 0;
  padding: 3px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title-link {
  color: #2988de;
  text-decoration: blink;
}
.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
  padding: 0.625em; /* 10px */
  margin: 1.25em 0.625em; /* 20px 10px */
  height: 1.5em; /* 24px */
}
.page-nav a {
  color: #888;
  text-decoration: blink;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
}
.page-nav a:hover {
  color: #2988de;
}
.page-nav span {
  margin-left: 10px;
  margin-right: 10px;
}
.article-nav {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */
  padding: 0.625em; /* 10px */
  margin: 1.25em 0.625em; /* 20px 10px */
  height: 1.5em; /* 24px */
}
.article-nav a {
  color: #333;
  margin: 0 0.625em; /* 10px */
  border: 0;
}
.article-nav a:hover {
  color: #2988de;
}
.article-nav .article-nav-newer {
  float: left;
}
.article-nav .article-nav-older {
  float: right;
}
@media (min-width: 370px) {
  .footer {
    height: 7.5em; /* 120px */
    padding: 1.875em 1.25em; /* 30px 20px */
    margin: 1.25em 0 0; /* 20px */
    text-align: center;
    background: #33363b;
  }
  .footer a {
    color: #888;
    border: 0;
  }
  .footer a:hover {
    color: #2988de;
  }
  .footer .footer-left {
    float: left;
  }
  .footer .footer-right {
    float: right;
  }
}
@media (max-width: 369px) {
  .footer {
    color: #696969;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 20px 10px;
    text-align: center;
  }
  .footer a {
    color: #888;
    border: 0;
  }
  .footer a:hover {
    color: #2988de;
  }
  .footer .footer-left-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
