<section class="archive">
  <ul class="post-archive">
    <% page.posts.each(function (post) { %>
      <li class="post-item">
        <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span>
        <%- partial('_partial/post_title', {post: post})
        %>
      </li>
    <% }) %>
  </ul>
</section>
<%- partial('_partial/paginator', {post: page, index: true}) %>