<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <div class="container">
            <div class="wrap">
                <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
                <section class="main"><%- body %></section>
                <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
            </div>
        </div>
        <script>
            (function(){
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
    </body>
</html>