<article class="post">
    <%
        var tags_end_url = "tags/index.html";
        var about_end_url = "about/index.html";
        var error_end_url = "404.html";
        var is_tag = false;
        var is_about = false;
        var is_404 = false;
        if (page.path === tags_end_url){
            is_tag = true;
        }
        if (page.path === about_end_url){
            is_about = true;
        }
        if (page.path === error_end_url){
            is_404 = true;
        }
    %>
    <% if (is_tag){ %>
        <%- partial("_partial/tags", {post: page, index: false}) %>
    <% } else { %>
        <% if ((!is_about) && (!is_404)){ %>
            <%- partial("_partial/post", {post: page, index: false}) %>
        <% } %>
    <% } %>
    <div class="post-content">
        <%- page.content %>
    </div>
</article>
<%- partial("_partial/paginator", {post: page, index: false}) %>