body{
    background-color: #F2F2F2;
    font-size: 1.25em;
    line-height: 1.5;
    font-family: "Comic Sans MS",Georgia,cursive,"KaiTi","Microsoft YaHei",LiSu,sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
a:-webkit-any-link{
    text-decoration:none;
    color: #000000;
    &:hover {
        color: #368ccb;
    }
}

@import "_partial/header";

@import "_partial/post";

@import "_partial/archive";

@import "_partial/nav";

@import "_partial/footer";

@import "_partial/article-nav";