<footer class="footer">
    <div class="footer-left">
        &copy; 2014-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div class="footer-right">
        <%= __('theme_by') %> <a href="https://github.com/yi-Xu-0100/hexo-theme-yixuju" target="_blank">simtheme</a><br>
        <a href="http://www.miitbeian.gov.cn/">粤ICP备17049362号</a> 
    </div>
</footer>