<header class="header">
    <div class="blog-title">
        <div class="logo">
            <a href="/" ><%= config.title || config.author %></a>
        </div>
        <div class="header-avatar">
            <a href="/about" title="<%= config.author %>">
                <img src="/img/avatar.png", alt="logo头像">
            </a>
        </div>
    </div>
    <div class="navbar">
        <nav class="mainnav">
            <ul class="menu">
                <% for (name in (config.WhiteInk || theme).menu) { %>
                    <li class="menu-item">
                        <%
                            var menu_name = __("Menu." + name);
                        %>
                        <a href="<%- url_for((config.WhiteInk || theme).menu[name]) %>" class="menu-item-link"><%= menu_name %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>