<%
    var post_title = post.title;
    if(post_title === "")
    {
        post_title = __("NoTitle");
    }
%>
<% if(!post.link && post_title){ %>
    <a class="post-title-link" href="<%- url_for(post.path) %>">
        <%= post_title %>
    </a>
<% }else{ %>
    <%
        var link_title = "Link to: " + post.link;
    %>
    <a href=<%= post.link %> class="post-title-link" target="_blank" rel="noopener nofollow"><%= link_title %></a>
<% } %>
