.posts {
    .post: first-child {
        margin-top: 0;
    }
    .post-title {
        font-size: 1.5em;
        a {
            color:#2988de;
        }
    }
    .post-meta {
        color: #BABABA;

        .post-tags-link{
            overflow:hidden;
            &:before {
                content: " #";
            }
        }

        .read-more{
            float: right;
        }
    }
}
