.post {
        font-size: 1rem; /* 16px */
        margin: 1.25em 0.625em; /* 20px 10px */
        padding: 1.875em 3.125em; /* 30px 50px */
        background-color: #fff;
        border: 0.0625em solid #ddd; /* 1px */
        box-shadow: 0.1875em 0.125em 0.5em rgba(0,0,0,0.3); /* 3px 2px 8px */

    .post-title {
        text-align: center;
        margin: 0;
        border-bottom: 5px solid rgba(0,0,0,0.8);

        .title {
            margin: 0;
            font-size: 1.875em; /* 30px */
        }
    }

    .post-meta {
        margin: 0 0 1.875em 0; /* 30px */

        .post-time {
            text-align: center;
        }
    }

    .post-content {
        margin: 0;
        font-size: 1rem; /* 16px */
    }
}