.post {
    margin: 20px 10px;
    padding: 30px 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 2px 8px rgba(0,0,0,0.3);

    .post-title {
        text-align: center;
        font-size: 1em;
        margin: 0px;
        border-bottom: 5px solid rgba(0,0,0,0.8);

        .title {
            margin: 0;
        }
    }

    .post-meta {
        margin: 0 0 30px 0;

        .post-time {
            text-align: center;
        }
    }

    .post-content {
        margin: 0;
        font-size: 16px;
    }
    .post-content {
        @import  "_partial/element";
        @import  "_partial/highlight";

    }
}