.archive {
    margin: 20px 10px;
    padding: 30px 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
    font-weight: bold;
    box-shadow: 3px 2px 8px rgba(0,0,0,0.3);
    
    .post-archive {
        list-style: none;
        padding: 0;
        
        .post-item {
            margin: 10px 0;
            padding: 3px 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 2px #ddd;
        
            .post-date {
                display: inline-block;
                margin-right: 10px;
                color: #BABABA;
            }

            .post-title-link {
                color: #368CCB;
                text-decoration: blink;
            }

        }
    }
}