.article-nav {
    .article-nav-newer {
        float: left;
        &:hover{
            color:#368ccb;
        }
    }
    .article-nav-older {
        float: right;
        &:hover{
            color:#368ccb;
        }
    }
}