.article-nav {
    padding-top: 0;
    padding-bottom: 30px;
    .article-nav-newer {
        float: left;
        &:hover{
            color:#2988de;
        }
    }
    .article-nav-older {
        float: right;
        &:hover{
            color:#2988de;
        }
    }
}
