.footer{
    font-size: 0.85em;
    color: #696969;
    background: color-footer-background;
    padding: 50px 0;
    border-top: 1px solid color-border;
    a{
        color: #888888;
        &:hover{
            color: #368ccb;
        }
    }
    .footer-left{
        float: left;
    }
    .footer-right{
        float: right;
    }
}