@media (min-width: 600px){
    @import "_partial/header/header-media-large";
}

@media (max-width: 599.5px) and (min-width: 310px){
    @import "_partial/header/header-media-medium";
}
@media (max-width: 309.5px){
    @import "_partial/header/header-media-small";
}