@media (max-width: 599px) and (min-width: 310px){
    .header {
        height: 130px;
        font-size: 1.5em;
        justify-content: space-between;
        font-weight:bold;

        .blog-title {
            justify-content : center;
            align-items: center;

            .logo {
                color: #AAA;
                justify-content : center;
                align-items: center;
                display: flex;
                }

            .header-avatar {
                justify-content : center;
                align-items: center;
                width: 100%;
                display: flex;



                img {
                    width:50px;
                    height:50px;
                    max-width: 100%;
                    border-radius: 50%;
                    border: 0;
                }
            }
        }

        .navbar {
            .mainnav{
                .menu {
                    margin: 0;
                    padding: 0;
                    justify-content : center;
                    align-items: center;
                    display: flex;
                    .menu-item {
                        display: inline-block;
                        margin-right: 15px;
                        font-size: 0.75em;
                        
                        .menu-item-link {
                            color: #AAA;
                            &:hover {
                                color: #2988de;
                            }
                        }
                    }

                    
                }
            }
        }
    }
}

@media (max-width: 309px){
    .header {
        height: 130px;
        font-size: 1.5em;
        justify-content: space-between;
        font-weight:bold;

        .blog-title {
            justify-content : center;
            align-items: center;

            .logo {
                color: #AAA;
                justify-content : center;
                align-items: center;
                display: flex;
                }

            .header-avatar {
                justify-content : center;
                align-items: center;
                width: 100%;
                display: flex;
                img {
                    width:50px;
                    height:50px;
                    max-width: 100%;
                    border-radius: 50%;
                    border: 0;
                }
            }
        }

        .navbar {
            .mainnav{
                .menu {
                    margin: 0;
                    padding: 0;
                    justify-content : center;
                    align-items: center;
                    display: flex;
                    .menu-item {
                        display: inline-block;
                        font-size: 0.75em;
                        margin-right: 10px;
                        .menu-item-link {
                            color: #AAA;
                            &:hover {
                                color: #2988de;
                            }
                        }
                    }
                }
            }
        }
    }
}