/* https://github.com/chriskempson/tomorrow-theme */

.post-content {
    pre, code {
        font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
    }

    pre, .highlight {
        background: #2d2d2d;
        border: none;
        margin: 0;
        padding: 0;
        border-style: solid;
        border-color: #ddd;
        border-width: 0.0625em 0; /* 1px */
        overflow: auto;
        color: #cccccc;
        line-height: 1.5;
        word-wrap: break-word;
        word-break: normal;
    }

    code{
        background: #fff
        border: 0.0625em solid #333; /* 1px */
        border-radius: 0.1875em; /* 3px */
        padding: 0 0.0625em; /* 1px */
        margin: 0 0.0625em; /* 1px */
    }

    pre {
        code {
            background: none;
            border: 0;
            padding: 0;
            margin: 0;
        }
    }

    .highlight{
        padding: 0.9375em 1.25em; /* 15px 20px 15px */

        pre {
            border: 0;
            padding: 0;
            margin: 0;
        }

        table {
            margin: 0;
            width: auto;
        }

        td {
            border: 0;
            padding: 0;
        }

        tr {
            text-align: inherit;
        }
    }

    .line, figure, figcaption, highlight, code, pre{
        line-height: 1.5;
    }

    figure, figcaption{
        color: #999999;
        margin-bottom: 1em;

        a{
            float: right;
            color: #FFFFFF;
            border: 0;
        }

        a:hover{
            color: #2988de;
        }

        .gutter pre{
            color: #666;
            text-align: right;
            padding-right: 1.25em; /* 20px */
        }

        .line.marked{
          background: #515151;
        }
    }
}
pre{
    .comment
    .title {
        color: #999999;
    }

    .variable
    .attribute
    .tag
    .regexp
    .ruby .constant
    .xml .tag .title
    .xml .pi
    .xml .doctype
    .html .doctype
    .css .id
    .css .class
    .css .pseudo {
        color: #f2777a;
    }

    .number
    .preprocessor
    .built_in
    .literal
    .params
    .constant {
        color: #f99157;
    }

    .class
    .ruby .class .title
    .css .rules .attribute {
        color: #99cc99;
    }

    .string
    .value
    .inheritance
    .header
    .ruby .symbol
    .xml .cdata {
        color: #99cc99;
    }

    .css .hexcolor {
        color: #66cccc;
    }

    .function
    .python .decorator
    .python .title
    .ruby .function .title
    .ruby .title .keyword
    .perl .sub
    .javascript .title
    .coffeescript .title {
        color: #6699cc;
    }

    .keyword
    .javascript .function {
        color: #cc99cc;
    }
}
