.page-nav {
    display: flex;
    justify-content : center;
    align-items: center;
    a{
        color: #888888;
        font-size: 1em;
        font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
        margin: 0 auto;
        text-decoration: blink;
        margin-left: 10px;
        margin-right: 10px;
    }
    span{
        margin-left: 10px;
        margin-right: 10px;

    }
}